*{
    font-family: 'Roboto Slab', serif; 
}
/*font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif;
*/
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}

nav .profil {
    display: flex;
    align-items: center;
}
nav .profil img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
nav .profil a{
    margin-left: 5px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    outline: none;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav ul a{
    margin-left: 30px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px solid white;
    outline: none;
}
nav ul a:hover{
    border-bottom: 1px solid black;
}

.page_content{
    margin: 4%;
}
.page_content header{
    max-width: 75%;
    margin-top: 5%;
}
.page_content header h1{
    margin: 0;
    font-family:'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 6vw;
}
.page_content header p{
    line-height: 35px;
    color: #818180;
}
.page_content header button{
    background-color: inherit;
    border: none;
    outline: none;
    padding: 0;
    font-size: 15ps;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.page_content header button:hover{
    color: #ccc;
    border-bottom-color: #000;
}
.page_content .image_presentation{
    margin-top: 5%;
}
.page_content .image_presentation img{
    max-width: 100%;
    height: auto;
}
.page_content #project-section{
    margin-top: 6%;
}
.page_content #project-section h1{
    text-transform: uppercase;
    font-size: 2vw;
}
.page_content #project-section .projects{
    display: flex;
    flex-wrap: wrap;
}
.page_content #project-section .projects .project{
    max-width: 210px;
    margin-right: 20px;
}
.page_content #project-section .projects .project h4{
    margin: 0;
    font-size: 20px;
}
.page_content #project-section .projects .project .description{
    font-size: 15px;
}
.page_content #project-section .projects .project .dates{
    font-size: 13px;
    color: rgb(145, 145, 145);
}
footer{
    margin-top: 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
    padding: 10px;
}
footer #colonne p{
    font-size: 15px;
    color: #ccc;
    cursor: pointer;
}
footer #colonne p:hover{
    color: #fff;
}


@media screen and (max-width: 700px){
    nav{
        justify-content: center;
    }
    nav ul {
        display: none;
    }
    .page_content header{
        max-width: 100%;
        margin-top: 25px;
    }
    .page_content #project-section{
        margin-top: 15%;
    }
    .page_content #project-section h1{
        font-size: 1.5em;
    }
    .page_content #project-section .projects .project{
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 100%;
    }
    footer{
        justify-content: flex-start;
    }
    footer #colonne{
        width: 80%;
    }
}